.main{
    display: block;
}

.heading{
    display: block;
    /* width: 100%; */
    padding: 4%;
    /* float: left; */
}

.heading h3{
    float: left;
}

.container{
    display: block;
    padding-top: 10%;
    border: 2px solid black;
    width: 80%;
    margin: auto;
}

.icon{
    background-image: url("./Upload-PNG.png");
}
.input{
    padding: 2%;
    background-image: url("./Upload-PNG.png") left top;
    background-size: 20%;
    margin-left: 15%;
    text-align: center;
    color: transparent;
    /* opacity: 0; */
}

.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #0aad1d;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }